html,body{
   width:100%;
   height: 100%;
    margin: 0px;
    padding: 0px;
     
}

.big-container{
    min-width: 1440px;
    margin: 0px;
    padding: 0px;

}
.navigation{
    
    display: flex;
    justify-content: space-between;
    margin:2%;
    
}

 .nav-links a{
     color: hsl(243, 87%, 12%);
     font-family: 'Raleway', sans-serif;
     font-size: 15px;
     margin: 10px;
   
}

.cta-container{
   
    display:flex;
   
   
    
}
.cta-section{
    
    position: relative;
    margin:3%;
}
.cta-container h1{
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 40px;
    font-weight: 700;

}

.cta-container p{
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 20px;

}


.search input{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    width: 300px;
    height: 23px;
    padding: 1%;
    border-radius: 4px;
    border-color: hsla(243, 87%, 12%, 0.596);
}

.search button{
    color:white;
    background-color: hsl(224, 93%, 58%);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    width: 170px;
    height: 40px;
    padding: 1%;
    border-radius: 4px;
}

.folder-vector img{
    width: 580px;
    margin-left:8%;
   
   
}
.middle-container{
    background-image: url(./images/bg-curve-desktop.svg);
    height: 100%;
    display:flex;
    margin-top: 5%;
    
}
.middle-section{
    position: relative;
    margin:3%;
}

.people-vector img{
    width: 500px;
    margin:10%;
}

.middle-container h2{
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 35px;
    font-weight: 700;

}

.middle-container p{
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 20px;
    font-weight: 400;

}

.green-link a{
    color: hsl(170, 45%, 43%);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-bottom: solid 2px hsl(170, 45%, 43%);
      display: inline;
      padding-bottom: 3px;
    
}
.green-link svg{
    width: 30%;
}

.card{
    width: 60%;
    height: 85%;
    margin: 3%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.card-txt p{
    font-size: 15px;
    text-align: left;
    line-height: 1.5rem;
    margin-left:10%;

}

.image-avatar{
    display: flex;
    align-items: center;
    margin-left:10%;
    margin-bottom: 10%;
}

.image-avatar p{
    font-size: 15px;
    text-align: left;
    margin-left: 1rem;
}





.image-avatar img{
    width: 60px;
    border-radius: 50%;
}

.bottom-container{
    background-color:  hsl(238, 22%, 44%);
    display:flex;
    justify-content: space-between;
    width:1440px;
    
   
}

.bottom-section{
    margin:3%;
}

.bottom-container h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color:white;
}

.bottom-container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:white;
}

.bottom-search{
    margin-top:5%;
}



.bottom-search input{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    width: 300px;
    height: 23px;
    padding: 1%;
    border-radius: 4px;
    margin-bottom: 3%;
    border-color:hsl(0, 0%, 75%);
}

.bottom-search button{
    color:white;
    background-color: hsl(224, 93%, 58%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: hsl(224, 93%, 58%) ;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    width: 170px;
    height: 40px;
    padding: 1%;
    border-radius: 4px;
}
footer{
    width:1440px;
}


.footer-section{
        position: relative;
        background-color: hsl(243, 87%, 12%);
        padding:4%;
    
}



.contact-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:white;
    
   

}

.links{
    display: flex;
    justify-content: space-evenly;
    margin-top: -4%;
}

.links a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:white;
    


}
.link-part1{
    margin-left: 3%;
}
.social-media{
    margin-left: 10%;;
}

